body {
  background-color: #eaeaea;
}

.ui.fixed.menu {
  background: rgb(98, 36, 207);
  background: linear-gradient(
    90deg,
    rgba(98, 36, 207, 1) 0%,
    rgba(12, 191, 249, 1) 100%
  );
  font-size: 1.1em;
}

.ui.main.container {
  margin-top: 7em;
}

.photo12 {
  width: 20px !important;
  height: 20px !important;
  object-fit: cover !important;
}

.masthead {
  display: flex;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80") !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  height: 100vh;
}

.masthead h1.ui.header {
  font-size: 4em;
  text-shadow: 0.5px 0.5px #000000;
}

.ui.inverted.menu .active.item {
  background: none !important;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2.5px 0 rgba(34, 36, 38, 0.15);
}
